version: "3.9"

services:
  backend:
    build: ./backend
    container_name: expense-backend
    ports:
      - "5000:8000" # host:container
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: expense-frontend
    ports:
      - "3000:3000" # host:container
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: expense-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
